* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    max-width: 1280px;
    margin: 0 auto;
    padding: 100px 0;
}

.post-list {
    margin-top: 100px;
}


body {
    font-family: sans-serif;
}

.post-enter {
    transform: translateX(-200px);
    opacity: 0;
    transition: .3s ease-in;
}

.post-enter-active {
    transform: translateX(0);
    opacity: 1;
    transition: .3s ease-in;
}

.post-exit {
    opacity: 1;
}

.post-exit-active {
    transform: translateX(-200px);
    opacity: 0;
    transition: .3s ease-in;
}