.Modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(#000, .3);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ModalContent {
    padding: 25px;
    background-color: #fff;
    border-radius: 16px;
    max-width: 480px;
    width: 100%;
    position: relative;
    transition: .3s;
    transform: translateY(-50px);
}

.Modal.active {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    .ModalContent {
        transform: translateY(0);
    }
}

.ModalClose {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 24px;
    background-color: #fff;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg width='800px' height='800px' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 5L19 19M5 19L19 5' stroke='%23000000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 15px;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    border: 0;
}