.post {
    padding: 30px;
    border: 2px solid teal;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;

    &__content {

    }

    &__btns {
        button {
            cursor: pointer;
        }
    }
}